@mixin flexgalery ($display,$flex-direction,$justify) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content:$justify ;
}

@mixin flex ($display,$flex-direction,$align) {
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align;
    
}

@mixin img ($width,$height,$border){
    width: $width;
    height: $height;
    border-radius: $border;
}

.imgleft{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
   
    @media screen and (max-width: 450px){
           float: none;
           display: flex;
           align-items: center;
           flex-direction: column;
        }
        @media screen and (min-width: 451px) and (max-width:960px){
            float: none;
            display: flex;
            align-items: center;
            flex-direction: column;
        }     
          
}
.imgright{
    
    float: right;
    padding-right: 15px;
    padding-left: 15px;
   
    @media screen and (max-width: 450px){
        float: none; 
           display: flex;
           align-items: center;
           flex-direction: column;
        }
        @media screen and (min-width: 451px) and (max-width:960px){
            float: none;
            display: flex;
            align-items: center;
            flex-direction: column;
        }     
          
    
   
}


.flexgalery{
    @include flexgalery(flex,row,flex-start);
    margin: 20px;

    @media screen and (max-width: 450px){

        @include flexgalery(flex,column,center);
    }
    @media screen and (min-width: 451px) and (max-width:960px){

        @include flexgalery(flex,column,center);

    }     
          
}

.img{
    @include img(300px,200px,50%);

    @media screen and (max-width: 450px){

        @include img(50%,45%,50%)
      
    }
    @media screen and (min-width: 451px) and (max-width:960px){

        @include img(60%,45%,50%)
               
    }      
}
.img2{
    @include img(250px,400px,45%);

    @media screen and (max-width: 450px){

        @include img(150px,300px,45%)
      
    }
    @media screen and (min-width: 451px) and (max-width:960px){

        @include img(200px,350,45%)
               
    }      
}

.img3{
    @include img(200px,300px,40%);
    padding-left: 25px; 

    @media screen and (max-width: 450px){

        width: 50%;
        height: 35%;
      
    }

    @media screen and (min-width: 451px) and (max-width:960px){

        @include img( 150px,275px,50%);
        width: 50%;
        height: 35%;
      
    }  
}

.imgrelleno{
    @include img(500px,300px,0%);
    padding-left: 60px;

    @media screen and (max-width: 450px){

       display: none;
    }
    @media screen and (min-width: 451px) and (max-width:960px){
       
        display: none;
    }

}
.continuacion{
  
        @include flexgalery(flex,Row,center);
}

.lugar{
    display: flex;
    flex-direction: column;
    border: solid whitesmoke 3px;
    background-color: rgba(124, 76, 29, 0.8);
    justify-content: center;
    margin: 25px;
    

}
.separador{

    width: 100%;
    height: 100%;

}