@media (min-width:451px) and (max-width:960px){

    .list{
        display: flex;
        border: solid;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        margin-top: 25px;
        color: #f3e0ce;
        background-color: #7c4c1d;
        flex-direction: column;
        }

.liststyle{
        font-family: 'arkham';
        font-size: 1.5rem;
        color: white;
        background-color: black;
        position: relative;
        top: 0; 
        margin-bottom: 2rem;
        overflow-x: hidden;
    }  
.pfont{
        font-size: 20px;
        color: #f3e0ce;
        font-family: 'aliseo';
        }
    
    
.navbar{

        display: none;
        align-self: flex-end;
        position: sticky;
        top: 0;  
        justify-items: center;
        justify-content: center; 
    }
.divcontainer{
        padding-left: 10px;
        border: solid;
        color: #f3e0ce;
        background-color: rgba(124,76,29,0.4);
        display:grid ;
        margin-bottom: 30px;
        margin-right: 20px;
        margin-top: 5px;
    }

.header{
        display:flex;
        flex-direction: row;
        background-image: url(../images/header.jpg);
        align-items: center;
        background-position: left;
        font-family: 'arkham';
        width: 100%;
        height: 100%;
        font-size: 25px;
        }
  
    .listflex{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            }

.footer{
        background-image: url(../images/footer.jpg);
        font-family: 'arkham';
        padding-left: 30px;
        font-size: 20px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        background-position: bottom;
        }  
.h1body{
            font-family: 'arkham';
            font-size: 35px;
            color: #f3e0ce;
        }
.imagetext{
            margin-top: 3px;
            font-size: 15px;
            font-family: 'arkham';
            color: #f3e0ce;  
        }  
.viewport{
            
            width: 300px;
            height: 250px;   
            
        }
.viewport2{
            
            height: 300px;
            width: 150px;  
            }
            
        
.footer{
            background-image: url(../images/footer.jpg);
            font-family: 'arkham';
            padding-left: 30px;
            font-size: 13px;
            margin-top: 1rem;
            margin-bottom: 0rem;
            background-position: bottom; 
            }           
.iframe{
                width: 400px;
                height: 300px;
            }       
.pfont{
                font-size: 15px;
                color: #f3e0ce;
                font-family: 'aliseo';
        }   
.divcontainer{
            padding-left: 5px;
            border: solid;
            color: #f3e0ce;
            background-color: rgba(124,76,29,0.4);
        }
.liststyle{
            font-family: 'arkham';
            font-size: 1.5rem;
            color: white;
            background-color: black;
            top: 0; 
            margin-bottom: 2rem;
        }  


.flexleft{
          
            display: block;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
                
                         
                       
                         
                         
                     }
.flexright{
              
             display: block;
             padding-top: 5px;
             padding-left: 5px;
             padding-right: 5px;
                   
                      }

.lugar{
                        color: #f3e0ce;
                        background-color: #7c4c1d;
                        margin-left: 30px;
                        border: solid;
                        margin: 40px;
                        padding: 25px;
                        }
                        
.plugar{
                        font-size: 20px;
                        color: #f3e0ce;
                        font-family: 'aliseo';
                        font-style: italic;
                }
}